# Configure these as GitHub repository secrets for workflows
AZURE_CREDENTIALS=
AZURE_RESOURCE_GROUP=
AKS_CLUSTER_NAME=
POSTGRES_SUPERUSER_PASSWORD=
REDIS_PASSWORD=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
